html {
  position: relative;
  min-height: 100%;
}
html, body{
    height: 100%;
}
.nav{
  background-color:#ece3dc;
}
body {
  background-image: url("../images/background.png");
  /*background-repeat: no-repeat;*/
  background-size: cover;
  background-attachment: fixed;
  font-family:'Quattrocento Sans', sans-serif;
  -webkit-animation: scrollingBackground 22s linear infinite;
          animation: scrollingBackground 22s linear infinite;
}
@-webkit-keyframes scrollingBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1024px 0;
  }
}
@media (min-width: 768px) {
.my-2{
  float:right;
  padding: 5px 5px;

 }
}

@keyframes scrollingBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1024px 0;
  }
}

h1{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.container{
  height: 100%;
}
.jumbotron{
  height: 100%;
  opacity: 0.8;
  flex: 0 1 auto;

}

input:invalid {
  border:1px solid red;
}

 .footer {
     position: fixed;
     bottom: 0;
     text-align: center;
 }
