{{#partial "content"}}
    {{#if newTeam}}
        <p>{{newTeam.teamName}}  <a href="/restaurants/{{editPlace.id}}/update"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></p>
        <ul>
            <li>Team Description:<br> {{newTeam.teamDescription}}</li>
            <li>Team members:<li>
            <ul>

            </ul>
        </ul>
    {{else}}
        <p>No Teams to display!</p>
    {{/if}}
{{/partial}}
{{> layout.hbs}}