{{#partial "content"}}
    <h1>List of Teams:</h1>

    {{#if teams}}
        <ul>
            {{#each teams}}
                <li>{{teamName}}  <a href="/teams/{{id}}"><span class="glyphicon glyphicon-plus" aria-hidden="true">Add members</span></a></li>
            {{/each}}
        </ul>
    {{else}}
        <p>No Teams added!</p>
    {{/if}}


{{/partial}}

{{> layout.hbs}}