{{#partial "content"}}


    {{#if teams}}
        <h1>List of Teams:</h1>
        <ul>
            {{#each teams}}
                <li>{{teamName}}  <a href="/teams/{{id}}"><span class="glyphicon glyphicon-plus" aria-hidden="true">Add members</span></a></li>
            {{/each}}
        </ul>
    {{else}}
        <p> Over just a short couple of days we're going to pack some of the most interesting code challenges we could get our hands on with the best people you probably haven't met! We're so glad you could be a part of it. Please click on <a href="/teams/new">Add a New Team</a> to register your team!</p>
    {{/if}}


{{/partial}}

{{> layout.hbs}}