{{#partial "content"}}


    <h3>Search by:</h3>
    <form action="/search" method="post">
        <div class="form-group">
                <label for="memberName">Search by teammate:</label>
                <input id="memberName" name="memberName" type="text">
                <button type="submit" name="form-control" class="btn btn-success">Go!</button>
        </div>
    </form>

    {{#if members}}
        {{#each members}}
            <p><a href="{{memberId}}/members/{{id}}">{{name}}"<span class="glyphicon glyphicon-pencil" aria-hidden="true"></a></p>
        {{/each}}
    {{else}}
        <p>No Teams to display!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}