{{#partial "content"}}
    <h3>{{thisTeam.teamName}}</h3>
    {{#if members}}
        {{#each members}}
            <div class="well">
                <h3><a href="{{thisNeighborhood.id}}/members/{{id}}">{{name}}:</a></h3>
            </div>
        {{/each}}
    {{/if}}
{{/partial}}

{{> layout.hbs}}